In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
#Run this cell by clicking shift + enter when highlighted on it. It imports the python libraries used for analysis.

# NCAA Predictions Notebook

## Motivations
Trying to predict the NCAA Tournament perfectly is something that gamblers have been trying to do for years. The randomness of the tournament has always been something that has fascinated me, so I decided to make it the focus of this workbook. It originally started as a guide for gambling strategy for my father and I, which I turned into a Jupyter tutorial on Pandas. Pandas is the library that I am strongest with out of the examples we used, so that's why I decided on it.

## Objectives
Learn how to load, filter, sort, and (somewhat) analyze data using the Pandas library.

## Data
Taken from FiveThirtyEight, can be found here: https://projects.fivethirtyeight.com/march-madness-api/2018/fivethirtyeight_ncaa_forecasts.csv

Note: I used an older version of the dataset, in order to show pre-tournament projections.

## Import Data: Using read_csv()
First, we need to get the data into a format that Python and Jupyter can work with. We'll use the read_csv function from the Pandas library.

In [43]:
ncaa_df = pd.read_csv('fivethirtyeight_ncaa_forecasts-2.csv')
ncaa_df.head()
#Raw data including old predictions and women's tourney data.

,gender,forecast_date,playin_flag,rd1_win,rd2_win,rd3_win,rd4_win,rd5_win,rd6_win,rd7_win,team_alive,team_id,team_name,team_rating,team_region,team_seed
0,mens,2018-03-12,0,1.0,0.985308,0.863123,0.668033,0.497134,0.291067,0.179788,1,222,Villanova,94.92,East,1
1,mens,2018-03-12,0,1.0,0.978539,0.831921,0.611027,0.410681,0.263779,0.137380,1,258,Virginia,93.07,South,1
2,mens,2018-03-12,0,1.0,0.958062,0.806459,0.466602,0.288302,0.162518,0.100163,1,150,Duke,92.59,Midwest,2
3,mens,2018-03-12,0,1.0,0.954136,0.764046,0.617444,0.318451,0.152683,0.082691,1,2305,Kansas,90.88,Midwest,1
4,mens,2018-03-12,0,1.0,0.922757,0.750633,0.404491,0.244351,0.120661,0.066905,1,127,Michigan State,91.67,Midwest,3

## Boolean Indexing
The dataset includes both men's and women's tournament data, so we need to focus on just one of them. It also includes some outdated data points, so we'll use boolean to filter these down as well.

In [44]:
current_ncaa_df = ncaa_df[ncaa_df['forecast_date'] == '2018-03-12']
current_ncaa_df.head()
#Filters dataset to only pre-tournament predictions

,gender,forecast_date,playin_flag,rd1_win,rd2_win,rd3_win,rd4_win,rd5_win,rd6_win,rd7_win,team_alive,team_id,team_name,team_rating,team_region,team_seed
0,mens,2018-03-12,0,1.0,0.985308,0.863123,0.668033,0.497134,0.291067,0.179788,1,222,Villanova,94.92,East,1
1,mens,2018-03-12,0,1.0,0.978539,0.831921,0.611027,0.410681,0.263779,0.137380,1,258,Virginia,93.07,South,1
2,mens,2018-03-12,0,1.0,0.958062,0.806459,0.466602,0.288302,0.162518,0.100163,1,150,Duke,92.59,Midwest,2
3,mens,2018-03-12,0,1.0,0.954136,0.764046,0.617444,0.318451,0.152683,0.082691,1,2305,Kansas,90.88,Midwest,1
4,mens,2018-03-12,0,1.0,0.922757,0.750633,0.404491,0.244351,0.120661,0.066905,1,127,Michigan State,91.67,Midwest,3

In [45]:
mens_ncaa_df = current_ncaa_df[current_ncaa_df['gender'] == 'mens']
mens_ncaa_df
#Filters dataset to the most recent predictions for mens field of 68

,gender,forecast_date,playin_flag,rd1_win,rd2_win,rd3_win,rd4_win,rd5_win,rd6_win,rd7_win,team_alive,team_id,team_name,team_rating,team_region,team_seed
0,mens,2018-03-12,0,1.000000,0.985308,0.863123,0.668033,4.971345e-01,2.910673e-01,1.797881e-01,1,222,Villanova,94.92,East,1
1,mens,2018-03-12,0,1.000000,0.978539,0.831921,0.611027,4.106807e-01,2.637788e-01,1.373803e-01,1,258,Virginia,93.07,South,1
2,mens,2018-03-12,0,1.000000,0.958062,0.806459,0.466602,2.883024e-01,1.625182e-01,1.001627e-01,1,150,Duke,92.59,Midwest,2
3,mens,2018-03-12,0,1.000000,0.954136,0.764046,0.617444,3.184506e-01,1.526834e-01,8.269100e-02,1,2305,Kansas,90.88,Midwest,1
4,mens,2018-03-12,0,1.000000,0.922757,0.750633,0.404491,2.443511e-01,1.206606e-01,6.690529e-02,1,127,Michigan State,91.67,Midwest,3
5,mens,2018-03-12,0,1.000000,0.932632,0.775165,0.525237,2.524126e-01,1.454269e-01,6.670543e-02,1,2132,Cincinnati,91.06,South,2
6,mens,2018-03-12,0,1.000000,0.977511,0.732651,0.500513,2.017610e-01,1.012187e-01,5.492806e-02,1,2509,Purdue,91.08,East,2
7,mens,2018-03-12,0,1.000000,0.964770,0.788146,0.458878,2.515281e-01,1.202858e-01,5.312083e-02,1,153,North Carolina,90.62,West,2
8,mens,2018-03-12,0,1.000000,0.917009,0.697667,0.430707,2.396895e-01,1.013660e-01,3.976408e-02,1,2250,Gonzaga,89.54,West,4
9,mens,2018-03-12,0,1.000000,0.977820,0.703368,0.343050,1.711061e-01,7.466762e-02,3.018555e-02,1,2752,Xavier,88.88,West,1
10,mens,2018-03-12,0,1.000000,0.893139,0.549710,0.271201,1.369659e-01,5.914244e-02,2.366838e-02,1,130,Michigan,88.54,West,3
11,mens,2018-03-12,0,1.000000,0.757059,0.401467,0.155804,8.392165e-02,4.414734e-02,1.829080e-02,1,96,Kentucky,88.17,South,5
12,mens,2018-03-12,0,1.000000,0.907045,0.594003,0.268428,1.049632e-01,4.885817e-02,1.773787e-02,1,2633,Tennessee,87.17,South,3
13,mens,2018-03-12,0,1.000000,0.835948,0.444677,0.144635,8.214116e-02,3.605088e-02,1.749155e-02,1,277,West Virginia,88.58,East,5
14,mens,2018-03-12,0,1.000000,0.909079,0.500517,0.129471,6.322416e-02,2.888753e-02,1.449669e-02,1,2724,Wichita State,87.97,East,4
15,mens,2018-03-12,0,1.000000,0.848211,0.482546,0.145429,6.493631e-02,3.450803e-02,1.445770e-02,1,12,Arizona,87.86,South,4
16,mens,2018-03-12,0,1.000000,0.717812,0.339961,0.152265,7.055137e-02,3.171499e-02,1.319271e-02,1,248,Houston,86.21,West,6
17,mens,2018-03-12,0,1.000000,0.893567,0.534712,0.202128,5.569531e-02,2.525223e-02,1.259084e-02,1,2641,Texas Tech,87.27,East,3
18,mens,2018-03-12,0,1.000000,0.658774,0.317752,0.128574,3.800066e-02,1.537884e-02,6.969999e-03,1,57,Florida,86.43,East,6
19,mens,2018-03-12,0,1.000000,0.765701,0.239791,0.112314,4.716441e-02,1.728893e-02,5.918069e-03,1,194,Ohio State,85.59,West,5
20,mens,2018-03-12,0,1.000000,0.573538,0.136077,0.047719,2.062075e-02,8.259008e-03,3.871233e-03,1,2628,Texas Christian,84.84,Midwest,6
21,mens,2018-03-12,0,1.000000,0.631561,0.157958,0.095319,2.843504e-02,8.908859e-03,3.416848e-03,1,2550,Seton Hall,85.05,Midwest,8
22,mens,2018-03-12,0,1.000000,0.798161,0.416373,0.112993,3.025031e-02,9.110464e-03,3.381663e-03,1,2,Auburn,84.04,Midwest,4
23,mens,2018-03-12,0,1.000000,0.603822,0.174724,0.087487,2.278785e-02,7.971055e-03,3.193267e-03,1,2086,Butler,84.65,East,10
24,mens,2018-03-12,0,1.000000,0.619810,0.350700,0.098184,2.708695e-02,8.189983e-03,3.049958e-03,1,228,Clemson,84.15,Midwest,5
25,mens,2018-03-12,0,1.000000,0.582693,0.128961,0.053101,2.107775e-02,8.290857e-03,3.034845e-03,1,245,Texas A&M,83.55,West,7
26,mens,2018-03-12,0,1.000000,0.598094,0.247431,0.082449,2.373146e-02,9.398694e-03,2.882810e-03,1,2390,Miami (FL),83.94,South,6
27,mens,2018-03-12,0,1.000000,0.706088,0.214944,0.072589,2.592811e-02,8.486508e-03,2.609259e-03,1,52,Florida State,83.61,West,9
28,mens,2018-03-12,0,1.000000,0.596013,0.131016,0.052774,1.335827e-02,6.217720e-03,2.257225e-03,1,251,Texas,82.90,South,10
29,mens,2018-03-12,0,1.000000,0.582607,0.097680,0.037712,1.337152e-02,5.398534e-03,1.688981e-03,1,156,Creighton,83.40,South,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,mens,2018-03-12,0,1.000000,0.406830,0.047153,0.016884,6.094530e-03,1.955303e-03,7.275818e-04,1,333,Alabama,82.20,East,9
39,mens,2018-03-12,0,1.000000,0.401906,0.138501,0.036761,8.437718e-03,2.792488e-03,7.137171e-04,1,2350,Loyola (IL),81.28,South,11
40,mens,2018-03-12,0,1.000000,0.242941,0.078125,0.018677,6.951217e-03,2.492700e-03,6.908541e-04,1,2166,Davidson,81.90,South,12
41,mens,2018-03-12,0,1.000000,0.368439,0.067729,0.034035,7.762691e-03,1.950105e-03,6.217478e-04,1,152,North Carolina State,81.74,Midwest,9
42,mens,2018-03-12,0,1.000000,0.403987,0.070935,0.025020,5.472130e-03,1.988423e-03,5.585401e-04,1,2440,Nevada,81.82,South,7
43,mens,2018-03-12,1,0.587758,0.270801,0.059450,0.016117,5.653627e-03,1.558222e-03,5.371529e-04,1,183,Syracuse,81.86,Midwest,11b
44,mens,2018-03-12,0,1.000000,0.417307,0.076030,0.022829,6.800922e-03,1.731310e-03,4.197197e-04,1,2507,Providence,81.27,West,10
45,mens,2018-03-12,0,1.000000,0.380190,0.179900,0.032578,5.894324e-03,1.329050e-03,3.864739e-04,1,166,New Mexico State,79.79,Midwest,12
46,mens,2018-03-12,1,0.412242,0.155661,0.027313,0.007500,2.659012e-03,8.160342e-04,3.076663e-04,1,9,Arizona State,81.26,Midwest,11a
47,mens,2018-03-12,1,0.457999,0.130217,0.040753,0.012558,2.814552e-03,7.486341e-04,2.369144e-04,1,179,St. Bonaventure,80.26,East,11a
48,mens,2018-03-12,0,1.000000,0.234299,0.037312,0.009733,2.317934e-03,4.665080e-04,9.051632e-05,1,2571,South Dakota State,78.07,West,12
49,mens,2018-03-12,0,1.000000,0.151789,0.037862,0.005818,1.494397e-03,4.091436e-04,8.653684e-05,1,2084,Buffalo,79.07,South,13
50,mens,2018-03-12,0,1.000000,0.164052,0.040099,0.004677,1.229665e-03,2.862087e-04,8.057225e-05,1,93,Murray State,78.93,East,12
51,mens,2018-03-12,0,1.000000,0.082991,0.025230,0.005994,1.304744e-03,2.592805e-04,4.970485e-05,1,2430,North Carolina-Greensboro,78.03,West,13
52,mens,2018-03-12,0,1.000000,0.077243,0.026527,0.004351,9.952028e-04,1.758143e-04,4.136879e-05,1,2083,Bucknell,78.25,Midwest,14
53,mens,2018-03-12,0,1.000000,0.067368,0.022884,0.006812,1.241943e-03,2.378209e-04,3.535594e-05,1,2247,Georgia State,75.99,South,15
54,mens,2018-03-12,0,1.000000,0.106861,0.023256,0.004741,1.077617e-03,1.776373e-04,2.849914e-05,1,149,Montana,76.79,West,14
55,mens,2018-03-12,0,1.000000,0.201839,0.053027,0.006591,8.251806e-04,1.219936e-04,2.451266e-05,1,232,College of Charleston,76.44,Midwest,13
56,mens,2018-03-12,0,1.000000,0.045864,0.010267,0.002856,3.154285e-04,3.927877e-05,6.762241e-06,1,219,Pennsylvania,75.55,Midwest,16
57,mens,2018-03-12,0,1.000000,0.090921,0.014706,0.001190,2.269194e-04,3.409759e-05,6.477090e-06,1,276,Marshall,75.58,East,13
58,mens,2018-03-12,0,1.000000,0.106433,0.021510,0.002344,1.889936e-04,3.122782e-05,6.468439e-06,1,2617,Stephen F. Austin,74.78,East,14
59,mens,2018-03-12,0,1.000000,0.092955,0.020065,0.002520,2.752773e-04,4.488198e-05,5.697667e-06,1,2750,Wright State,74.31,South,14
60,mens,2018-03-12,0,1.000000,0.041938,0.010722,0.001136,1.683847e-04,1.914972e-05,3.035468e-06,1,314,Iona,74.79,Midwest,15
61,mens,2018-03-12,0,1.000000,0.035230,0.006863,0.000735,8.422461e-05,9.020078e-06,9.561690e-07,1,288,Lipscomb,72.45,West,15
62,mens,2018-03-12,0,1.000000,0.021461,0.003351,0.000324,3.153436e-05,3.323759e-06,2.748830e-07,1,2378,Maryland-Baltimore County,71.36,South,16
63,mens,2018-03-12,1,0.665022,0.011200,0.001736,0.000175,1.942640e-05,1.680504e-06,1.908080e-07,1,2515,Radford,70.89,East,16b
64,mens,2018-03-12,0,1.000000,0.022489,0.002119,0.000219,1.049291e-05,9.754850e-07,1.185620e-07,1,2239,Cal State Fullerton,71.88,East,15
65,mens,2018-03-12,1,0.576083,0.014453,0.001292,0.000081,5.832744e-06,4.771790e-07,3.895500e-08,1,2640,Texas Southern,67.93,West,16b
66,mens,2018-03-12,1,0.334978,0.003493,0.000356,0.000030,2.733406e-06,1.537580e-07,1.156900e-08,1,2341,Long Island University,67.64,East,16a
67,mens,2018-03-12,1,0.423917,0.007727,0.000513,0.000020,8.998570e-07,3.899400e-08,1.708000e-09,1,2428,North Carolina Central,65.30,West,16a

# Finding Value in Lower Seeds
Best odds for teams seeded 8 or Lower, sorted by their probability of reaching the Sweet 16

## Round 1 - Creating a New DataFrame

We want to take data from mens_ncaa_df, and turn it into our own DataFrame that's a little more tidy.

In [17]:
odds_df =  pd.DataFrame({'team' : mens_ncaa_df['team_name'] , 'seed' : mens_ncaa_df['team_seed'] 
                         , 'round 1 odds' : mens_ncaa_df['rd2_win'] , 'round 2 odds' : mens_ncaa_df['rd3_win'], 'S16 odds': mens_ncaa_df['rd4_win'],
                        'E8 odds': mens_ncaa_df['rd5_win'], 'F4 odds': mens_ncaa_df['rd6_win'], 'championship odds': mens_ncaa_df['rd7_win'] , 
                         'region': mens_ncaa_df['team_region']
                        ,'in tournament' : mens_ncaa_df['team_alive'], 'team rating' : mens_ncaa_df['team_rating']})
odds_df.head()

,E8 odds,F4 odds,S16 odds,championship odds,in tournament,region,round 1 odds,round 2 odds,seed,team,team rating
0,0.497134,0.291067,0.668033,0.179788,1,East,0.985308,0.863123,1,Villanova,94.92
1,0.410681,0.263779,0.611027,0.137380,1,South,0.978539,0.831921,1,Virginia,93.07
2,0.288302,0.162518,0.466602,0.100163,1,Midwest,0.958062,0.806459,2,Duke,92.59
3,0.318451,0.152683,0.617444,0.082691,1,Midwest,0.954136,0.764046,1,Kansas,90.88
4,0.244351,0.120661,0.404491,0.066905,1,Midwest,0.922757,0.750633,3,Michigan State,91.67

The code below turns the index (far left column) into team names, making our table easier to read.

In [18]:
odds_df.index = odds_df['team']
odds_df.head()

,E8 odds,F4 odds,S16 odds,championship odds,in tournament,region,round 1 odds,round 2 odds,seed,team,team rating
team,,,,,,,,,,,
Villanova,0.497134,0.291067,0.668033,0.179788,1,East,0.985308,0.863123,1,Villanova,94.92
Virginia,0.410681,0.263779,0.611027,0.137380,1,South,0.978539,0.831921,1,Virginia,93.07
Duke,0.288302,0.162518,0.466602,0.100163,1,Midwest,0.958062,0.806459,2,Duke,92.59
Kansas,0.318451,0.152683,0.617444,0.082691,1,Midwest,0.954136,0.764046,1,Kansas,90.88
Michigan State,0.244351,0.120661,0.404491,0.066905,1,Midwest,0.922757,0.750633,3,Michigan State,91.67

Now, we can use boolean indexing and sort_values to see which lower-seeded teams are most likely to advance to the Sweet 16. This is a tip that gamblers look for a lot. sort_values gives us all values of a certain column in either ascending or descending order.

In [19]:
odds_df[odds_df['seed'] == '9'].sort_values(['round 2 odds'], ascending = False)
#Here are the best odds to get out of the first round for 9 seeds. FSU seems like a good play with about 70% chance 
#to advance. May even sneak into the sweet 16.

,E8 odds,F4 odds,S16 odds,championship odds,in tournament,region,round 1 odds,round 2 odds,seed,team,team rating
team,,,,,,,,,,,
Florida State,0.025928,0.008487,0.072589,0.002609,1,West,0.706088,0.214944,9,Florida State,83.61
North Carolina State,0.007763,0.001950,0.034035,0.000622,1,Midwest,0.368439,0.067729,9,North Carolina State,81.74
Kansas State,0.008720,0.003501,0.025209,0.001089,1,South,0.417393,0.067049,9,Kansas State,81.48
Alabama,0.006095,0.001955,0.016884,0.000728,1,East,0.406830,0.047153,9,Alabama,82.20

In [20]:
odds_df[odds_df['seed'] == '10'].sort_values(['round 2 odds'], ascending = False)
#Butler and Texas both strong plays here

,E8 odds,F4 odds,S16 odds,championship odds,in tournament,region,round 1 odds,round 2 odds,seed,team,team rating
team,,,,,,,,,,,
Butler,0.022788,0.007971,0.087487,0.003193,1,East,0.603822,0.174724,10,Butler,84.65
Texas,0.013358,0.006218,0.052774,0.002257,1,South,0.596013,0.131016,10,Texas,82.90
Providence,0.006801,0.001731,0.022829,0.000420,1,West,0.417307,0.076030,10,Providence,81.27
Oklahoma,0.007462,0.002304,0.020475,0.000873,1,Midwest,0.419553,0.068317,10,Oklahoma,82.10

In [21]:
odds_df[odds_df['seed'] == ('13')].sort_values(['round 2 odds'], ascending = False)
#12 Seeds not as strong of a play this year, despite the media narrative.

,E8 odds,F4 odds,S16 odds,championship odds,in tournament,region,round 1 odds,round 2 odds,seed,team,team rating
team,,,,,,,,,,,
College of Charleston,0.000825,0.000122,0.006591,0.000025,1,Midwest,0.201839,0.053027,13,College of Charleston,76.44
Buffalo,0.001494,0.000409,0.005818,0.000087,1,South,0.151789,0.037862,13,Buffalo,79.07
North Carolina-Greensboro,0.001305,0.000259,0.005994,0.000050,1,West,0.082991,0.025230,13,North Carolina-Greensboro,78.03
Marshall,0.000227,0.000034,0.001190,0.000006,1,East,0.090921,0.014706,13,Marshall,75.58

# Who Will Win Each Region?

Here, we'll use the .sort_values() function on a column within our DataFrame, to see which teams have the best odds of advancing to the Final Four.

First, filter the data by region.

In [28]:
west_region = odds_df[odds_df['region'] == 'West']
#Using boolean to filter down to only West region teams

Secondly, use sort_values on this new dataframe. By pulling the 'E8 odds' section, we can see each team's odds of advancing out of their region and into the Final Four, in order.

In [46]:
west_region['E8 odds'].sort_values(ascending = False)
#Zags looking like a strong play here as the 4 seed. Xavier a weak 1 seed, as most expecteded.

team
North Carolina               2.515281e-01
Gonzaga                      2.396895e-01
Xavier                       1.711061e-01
Michigan                     1.369659e-01
Houston                      7.055137e-02
Ohio State                   4.716441e-02
Florida State                2.592811e-02
Texas A&M                    2.107775e-02
San Diego State              1.573847e-02
Missouri                     8.658029e-03
Providence                   6.800922e-03
South Dakota State           2.317934e-03
North Carolina-Greensboro    1.304744e-03
Montana                      1.077617e-03
Lipscomb                     8.422461e-05
Texas Southern               5.832744e-06
North Carolina Central       8.998570e-07
Name: E8 odds, dtype: float64

In [47]:
midwest_region = odds_df[odds_df['region'] == 'Midwest']
midwest_region['E8 odds'].sort_values(ascending = False)
#Top 3 teams are the strongest plays here. Initially thought Auburn to be an underrated play, but apparently not
#since they have almost the same odds to win the region as the 8 Seed.

team
Kansas                   0.318451
Duke                     0.288302
Michigan State           0.244351
Auburn                   0.030250
Seton Hall               0.028435
Clemson                  0.027087
Texas Christian          0.020621
Rhode Island             0.010767
North Carolina State     0.007763
Oklahoma                 0.007462
New Mexico State         0.005894
Syracuse                 0.005654
Arizona State            0.002659
Bucknell                 0.000995
College of Charleston    0.000825
Pennsylvania             0.000315
Iona                     0.000168
Name: E8 odds, dtype: float64

In [48]:
south_region = odds_df[odds_df['region'] == 'South']
south_region['E8 odds'].sort_values(ascending = False)
#The region where we could most likely see #1 vs. #2 in the E8. Virginia still a strong play despite the loss of the
#ACC sixth man of the year.

team
Virginia                     0.410681
Cincinnati                   0.252413
Tennessee                    0.104963
Kentucky                     0.083922
Arizona                      0.064936
Miami (FL)                   0.023731
Creighton                    0.013372
Texas                        0.013358
Kansas State                 0.008720
Loyola (IL)                  0.008438
Davidson                     0.006951
Nevada                       0.005472
Buffalo                      0.001494
Georgia State                0.001242
Wright State                 0.000275
Maryland-Baltimore County    0.000032
Name: E8 odds, dtype: float64

In [49]:
east_region = odds_df[odds_df['region'] == 'East']
east_region['E8 odds'].sort_values(ascending = False)
#Nova with the strongest odds to make it into the Final Four. Interesting to see WVU near the top of this list, as they
#stumbled into the postseason with a few losses.

team
Villanova                 0.497134
Purdue                    0.201761
West Virginia             0.082141
Wichita State             0.063224
Texas Tech                0.055695
Florida                   0.038001
Butler                    0.022788
Virginia Tech             0.013875
Arkansas                  0.009019
Alabama                   0.006095
UCLA                      0.005774
St. Bonaventure           0.002815
Murray State              0.001230
Marshall                  0.000227
Stephen F. Austin         0.000189
Radford                   0.000019
Cal State Fullerton       0.000010
Long Island University    0.000003
Name: E8 odds, dtype: float64

## Now, Lets do a Little Math, and Clean up our DataFrame

The code below reorders our DataFrame columns, and crops out a few columns, making it a little easier to read.

In [50]:
odds_df = odds_df[['S16 odds','E8 odds','F4 odds','championship odds','region', 'in tournament','seed','team rating']]
odds_df.head()

,S16 odds,E8 odds,F4 odds,championship odds,region,in tournament,seed,team rating
team,,,,,,,,
Villanova,0.668033,0.497134,0.291067,0.179788,East,1,1,94.92
Virginia,0.611027,0.410681,0.263779,0.137380,South,1,1,93.07
Duke,0.466602,0.288302,0.162518,0.100163,Midwest,1,2,92.59
Kansas,0.617444,0.318451,0.152683,0.082691,Midwest,1,1,90.88
Michigan State,0.404491,0.244351,0.120661,0.066905,Midwest,1,3,91.67

# Who is the Strongest Team in the Tournament?

We can use math functions like .mean() on columns within our data, to get quick tidbits of information.

In [53]:
avg_team_rating = odds_df['team rating'].mean()
avg_team_rating

82.09470588235294

In [56]:
alive_teams = odds_df[odds_df['in tournament'] == 1] #Using boolean to filter out eliminated teams
alive_teams.sort_values('team rating', ascending = False).head() #Sorting the strongest teams left by rating

,S16 odds,E8 odds,F4 odds,championship odds,region,in tournament,seed,team rating
team,,,,,,,,
Villanova,0.668033,0.497134,0.291067,0.179788,East,1,1,94.92
Virginia,0.611027,0.410681,0.263779,0.137380,South,1,1,93.07
Duke,0.466602,0.288302,0.162518,0.100163,Midwest,1,2,92.59
Michigan State,0.404491,0.244351,0.120661,0.066905,Midwest,1,3,91.67
Purdue,0.500513,0.201761,0.101219,0.054928,East,1,2,91.08

Now, we can create a new column using our average team rating, in order to see which teams are above and below the level of an average team in the tournament.

In [55]:
alive_teams['net rating'] = (alive_teams['team rating'] - avg_alive_rating)
alive_teams['net rating'].sort_values(ascending = False).head()

team
Villanova         12.825294
Virginia          10.975294
Duke              10.495294
Michigan State     9.575294
Purdue             8.985294
Name: net rating, dtype: float64